extends layout 

block content 
  h1 New Message 
  form(method="POST" action="/new") 
    input(type="text" name="author" placeholder="Author")
    input(type="text" name="messageText" placeholder="Message")
    button(type="submit") Submit